* {
    font-family: Arial;
    font-size: 18px;
}

window#waybar {
    background: transparent;
    color: #FFF;
}

#workspaces button {
    color: #FFF;
    padding: 0 4px;
}

#clock {
    color: #FFF;
    padding: 0 10px;
}

#battery,
#network,
#pulseaudio,
#clock,
#workspaces,
#language {
    background-color: #0F0F0F;
    border-radius: 999px;
    color: #FFF;
    padding: 4 12px;
    margin-bottom: 5px;
    margin-top: 14px;
}

.modules-left{
    margin-left: 20px;
}

.modules-right{
    margin-right: 20px;
}

#battery.warning { color: #e5a84d; }
#battery.critical { color: #e5534b; }
#battery.charging { color: #57ab5a; }
