* {
    font-family: CaskaydiaMono Nerd Font;
    font-size: 18px;
    padding: 2px;
    margin: 0;
}

window#waybar {
    background-color: #0F0F0F;
    color: #FFF;
}

#workspaces button {
    color: #FFF;
    padding: 0 4px;
}

#clock {
    color: #FFF;
    padding: 0 10px;
}

#battery,
#network,
#pulseaudio,
#language {
    color: #FFF;
    padding: 0 6px;
}

#battery.warning { color: #e5a84d; }
#battery.critical { color: #e5534b; }
#battery.charging { color: #57ab5a; }
